body {
  margin: 0 15em 0 15em;
  font-family: "Assistant", sans-serif;
  background-color: rgb(230, 228, 228);
}
.header {
  text-align: center;
}
.table_container {
}

tr > th {
  background-color: black;
  color: white;
}

.year {
  font-weight: 700;
  text-align: center;
}
.event {
  padding-left: 1em;
}

.table {
  border: none;
}

.white_cell {
  background-color: white;
}

.figure {
  border: solid 1px red;
  border-radius: 1%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 1em;
  display: block;
  background-color: rgb(39, 39, 39);
}
.legend {
  color: white;
  text-align: center;
}
.img {
  width: 100%;
}

.red_title {
  color: red;
}

tr + td {
  background-color: black;
}

.figure {
}

.end-text {
  margin: 0 10em 3em 10em;
  padding: 0 1em 0 1em;
  border: 3px dashed rgb(76, 76, 219);
  background-color: rgb(197, 197, 197);
}
